# --- Python / CPython ---
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# Env files
.env
.envrc

# Packaging / build
build/
dist/
*.egg-info/

# --- Runtime data ---
*.db
*.log
data/

# --- Jellyfin data ---
**/jellyfin/config/log/
**/jellyfin/config/metadata/

# --- OS / editor ---
.DS_Store

# --- JavaScript ---
**/node_modules

# --- Local development ---
.vscode/
