# For development only
services:
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin:latest
    volumes:
      - ./dev/jellyfin/config:/config
      - jellyfin_cache:/cache
      - ./dev/jellyfin/media:/media:ro

  proxy:
    container_name: proxy
    image: caddy:2
    ports:
      - "8096:8096"
    volumes:
      - ./dev/Caddyfile.local:/etc/caddy/Caddyfile:ro

volumes:
  jellyfin_cache:
